*{
	padding: 0;
	margin: 0;
}



body{
	
	background-image: url('../img/13.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	/*-webkit-filter: blur(5px);
  	-moz-filter: blur(5px);
 	 -o-filter: blur(5px);
  	-ms-filter: blur(5px);
 	 filter: blur(5px);*/
}

#listaContainer{
	margin-top: 40px;
	background-color: #fff;
	padding-top: 30px;
	padding-bottom: 20px;
	padding-right: 10px;
	padding-left: 40px;	
	width: 90%;


}

#novo{
	
	padding-bottom: 40px;
	font:'Segoe UI',Arial, sans-serif;
	font-size: 20px;

}

#tamanhoContainer{

	border-radius: 5px;
  	border-style: groove;
 	border-width: 5px;
	border: 20px;
	border-color: #000000;
	background-color: #fff;
	padding-top: 50px;
	padding-bottom: 10px;
	padding-right: 50px;
	padding-left: 50px;	
	width: 50%;
	margin-top: 40px;
	margin-bottom: 40px;

}

#botao{
	text-align: right; 
	margin-top: 40px;
	padding-bottom: 50px;
}

#LoginForm{
	padding-top: 50px;

}

#pai div{

	display: none;
}
 